/* Home Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.header .container {
  padding-top: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.header-top-part {
  background-color: #38572d;
  height: 45px;
  justify-content: center;
  margin-bottom: 20px;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.header-top-part p {
  color: #fff;
}

.header .inner-top {
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  right: 8%;
  position: relative;
}

.menu-list {
  list-style: none;
  display: flex;
  gap: 33px;
  color: #fff;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
}

.header .inner-section {
  width: 100%;
  position: absolute;
  top: 65px;
  right: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1600px;
  justify-content: space-between;
  transform: translateX(50%);
  z-index: 999;
}

.header .logo {
  width: 100%;
  max-width: 225px;
}

.header .col-6 {
  display: flex;
  justify-content: center;
}

.header-btn {
  display: flex;
  gap: 0 20px;
  justify-content: flex-end;
  position: relative;
}

.header .header-btn a {
  display: flex;
  gap: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.header .header-btn a:hover {
  transform: scale(1.1);
}

.header-btn a::after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #00a055;
  right: -11px;
  position: absolute;
}

.header-btn a:last-child::after {
  width: 0;
}

.header-btn a svg {
  width: 30px;
  height: 30px;
  stroke-width: 0;
}

.header .header-btn button {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-size: 14px;
  padding: 0;
}

.header .header-btn a svg path {
  fill: #000000;
}

.product-grid-wrapper h2,
.category-title h2,
.buyers-wrapper h2,
.carousel-header h2 {
  font-size: 20px;
}

/* Header */

.header .social-icon {
  display: none;
}

.main-nav {
  left: 0;
}

.main-nav .product-category-dropdown {
  width: auto;
  padding: 10px 20px;
  gap: 10px;
}

.main-nav .product-category-dropdown:hover .mega-menu {
  top: 45px;
}

.main-nav .dropbtn {
  padding: 0;
  font-size: 15px;
}

.main-nav .has-sub {
  padding: 10px;
  font-size: 14px;
}

.main-nav .has-sub {
  padding: 10px;
  font-size: 14px;
}

.header .inner-section {
  top: 50px;
  left: 0;
  justify-content: space-between;
  padding: 0 10px;
  transform: translateX(0);
}

.main-menu {
  right: 2%;
  font-size: 14px;
  gap: 10px;
}

.menu-list {
  font-size: 16px;
  gap: 10px;
  padding: 0;
  margin: 0;
}



/* Page Header */
.page-header .inner-section {
  position: relative;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
  padding: 15px 0;
}

.page-header .header-btn button {
  color: #000;
}

.page-header .header-btn a svg path {
  fill: #000;
}

@media only screen and (max-width: 600px) {

  .page-header .inner-section {
    justify-content: space-between;
    padding: 10px;
  }

  .page-header .header-logo {
    width: 100px;
  }

  .header-search.search-box {
    max-width: 265px;
    height: 35px;
    border-radius: 15px;
  }

  .header-search.search-box input {
    padding: 5px;
    font-size: 14px;
  }

  .header-search.search-box button {
    padding: 0 10px;
    font-size: 14px;
  }

  .header-search svg {
    width: 22px;
    height: 22px;
  }

  .header .header-btn {
    display: none;
}

}

/* Footer */

/* Footer */

.site-footer .container {
  padding: 0;
}

.site-footer {
  color: #000;
  margin-top: 70px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 0;
  padding: 30px;
  gap: 30px 0;
}

.footer-column {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column:first-child {
  width: 30%;
}

.footer-column img {
  width: 200px;
}

.footer-column p {
  margin: 0;
  width: 100%;
  max-width: 350px;
  font-size: 17px;
  margin-top: 10px;
  line-height: 1.4;
}

.footer-column h4 {
  margin: 0;
  font-size: 1.2rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.footer-column ul li {
  margin-bottom: 8px;
  color: #000;
}

.footer-column ul li:last-child {
  margin: 0;
}

.footer-column ul li a {
  color: #4b4b4b;
  text-decoration: none;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.footer-column ul li a:hover {
  padding-left: 20px;
}

.footer-column ul li a::before {
  content: "";
  position: absolute;
  background-color: #297201;
  width: 15px;
  height: 2px;
  display: flex;
  top: 50%;
  transform: translate(-30px, -50%);
  transition: all 0.5s ease-in-out;
}

.footer-column ul li a:hover::before {
  transform: translateX(0px);
}

.social-media .row {
  justify-content: flex-start;
}

.social-link {
  display: flex;
}

.social-link svg {
  width: 25px;
  height: 25px;
}

.x {
  width: 20px !important;
  height: 20px !important;
}

.blog-items {
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

.blog-items .row {
  gap: 110px;
}

.blog-card-list {
  display: flex;
  gap: 10px;
}

.blog-image {
  width: 100%;
  height: 100%;
  max-height: 80px;
}

.blog-content-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.blog-title {
  font-size: 16px;
  font-weight: 600;
}

.blog-excerpt {
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #d8d8d8;
  font-size: 0.9rem;
  background-color: #f0f0f0;
  padding: 15px 30px;
}

/* Responcive */

@media (max-width: 992px) {

  /* Footer */
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .footer-column {
    width: 40%;
    align-items: center;
  }

  .footer-column:first-child {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-column:last-child {
    width: 100%;
    margin-top: 15px;
  }

  .footer-column p {
    text-align: center;
  }

  .footer-column ul {
    text-align: center;
  }

  .site-footer .container {
    padding-bottom: 0;
  }

}

