.breadcrumb {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
}

nav.breadcrumb {
    margin: 40px 0;
}

.breadcrumb ol {
    display: flex;
    gap: 5px;
}

.left-side.product-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid.items-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.single-product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right-side.product-contact {
    width: 25%;
}

.grid.items-start  .product-image {
    width: 35%;
}

.grid.items-start .product-image img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 350px;
}

.product-info {
    width: 65%;
}

.prduct-name {
    margin: 0;
    font-size: 35px;
    font-weight: 500;
}

.product-information {
    position: relative;
    padding-bottom: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 20px 0;
}

.product-information p strong {
    width: 20%;
    color: #00a055;
}

.product-information p {
    display: flex;
    font-size: 16px;
}

.product-information::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    bottom: 0;
    left: 0;
}

.product-price {
    margin-top: 20px;
    color: #00a055;
    font-size: 20px;
}

.product-meta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    color: #333;
}

.chat-btn {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
}

.contact-btn {
    width: 100%;
    padding: 10px;
    background-color: #00a055;
    border: 0;
    border-radius: 10px;
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

img.verified {
    width: 75px;
    height: 75px;
    border-radius: 25px;
}

.supplier-profile-btn {
    width: 100%;
    padding: 10px;
    background-color: #A3C952;
    border: 0;
    border-radius: 10px;
    color: #fff;
}

.card {
    background-color: #f2f2f2;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 10px;
}

.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    border-bottom: 2px solid #eee;
  }
  
  .tabs li {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    margin-right: 10px;
  }
  
  .tab-active {
    border: 1px solid #ddd;
    border-bottom: 2px solid white;
    background-color: #00a055;
    font-weight: bold;
      color: #fff;
  }
  
  .tab-content {
    display: none;
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
  }
  
  .active-tab {
    display: block;
  }
  

  .offer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-section .product-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 8px;
}

.timer {
    display: flex;
    gap: 10px;
}

.timer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.timer p span {
    background-color: #e3e3e3;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}

/* Responciv */

@media only screen and (min-width: 920px) {
    .single-product-mobile {
        display: none;
    }
}

@media only screen and (max-width: 920px) {
    .product-info .product-rating,
    .product-info .prduct-name,
    .product-info .product-price, 
    .product-info .product-meta,
    .right-side.product-contact,
    .product-information::after {
        display: none;
    }

    .single-product-section {
        flex-direction: column;
    }

    .left-side.product-details {
        width: 100%;
    }
    
    .grid.items-start {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
    
    .grid.items-start .product-image {
        width: 100%;
    }

    .grid.items-start .product-image,
    .product-info {
        width: 100%;
        border: 1px solid #f1f1f1;
        padding: 15px;
        border-radius: 10px;
    }
    
    .product-info {
        width: 100%;
    }

    .product-information p strong {
        width: 45%;
    }

    .single-product-mobile .profile-btn {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        width: 100%;
        left: 0;
        padding: 10px;
        background-color: #efefef;
        border-radius: 0;
    }

    .offer-header {
        flex-direction: column;
    }
    
    .offer-title h2 {
        margin: 0;
    }
        
}