/* Responsive Sizes */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) and (max-width: 1400px) {} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) and (max-width: 1200px) {} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) and (max-width: 992px) {} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) and (max-width: 768px) {} */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (min-width: 300px) and (max-width: 600px) {} */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/* Start */

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    /* Global */

    .container {
        padding: 10px;
    }

    .header .container,
    .starter .container {
        padding: 0;
    }

    .btn {
        height: 35px;
        width: 170px;
    }

    .product-grid-wrapper h2,
    .category-title h2,
    .buyers-wrapper h2,
    .carousel-header h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }

    /* Header */

    .header .social-icon {
        display: none;
    }

    .main-nav {
        left: 0;
    }

    .main-nav .product-category-dropdown {
        width: auto;
        padding: 10px 20px;
        gap: 10px;
    }

    .main-nav .product-category-dropdown:hover .mega-menu {
        top: 45px;
    }

    .main-nav .dropbtn {
        padding: 0;
        font-size: 15px;
    }

    .main-nav .has-sub {
        padding: 10px;
        font-size: 14px;
    }

    .main-nav .has-sub {
        padding: 10px;
        font-size: 14px;
    }

    .header .inner-section {
        top: 50px;
        left: 0;
        justify-content: space-between;
        padding: 0 10px;
        transform: translateX(0);
    }

    .header-btn {
        display: flex;
        width: auto;
        height: auto;
    }

    .header .header-btn button {
        display: none;
    }

    .main-menu {
        right: 2%;
        font-size: 14px;
        gap: 10px;
    }

    .menu-list {
        font-size: 16px;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    /* Hero Slider */

    .first-section .hero-content {
        padding: 20px;
    }

    .first-section .hero-content h2 {
        font-size: 40px;
        text-align: center;
    }

    .first-section .hero-content p {
        font-size: 16px;
        text-align: center;
    }

    .overlay {
        width: 99%;
        height: 450px;
    }

    .mega-menu {
        margin-bottom: 20px;
    }

    .category-nav {
        padding: 15px 20px;
    }

    .category-list {
        gap: 15px;
    }

    /* Category carousel */

    .category-card .category-item img {
        width: 125px;
    }

    /* Request Form Q */

    .form-wrapper {
        padding: 15px;
        width: 50% !important;
        align-items: self-start;
    }

    .form-wrapper h2 {
        font-size: 20px;
        text-align: center;
    }

    .inner-wrapper {
        padding: 15px;
        height: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .form-wrapper p {
        text-align: center;
    }

    .form-wrapper form {
        width: 100%;
    }

    .form-wrapper input {
        height: 30px;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    .form-wrapper form button {
        padding: 0px;
        height: 35px;
        margin-top: 0;
    }

    .extra-info {
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .information {
        width: 24%;
    }

    .information img {
        width: 50px;
    }

    /* Services */

    .services::before {
        width: 220px;
    }

    .services::after {
        width: 150px;
        height: 150px;
    }

    .service {
        gap: 50px;
        width: 100%;
        padding: 0 30px 0 100px
    }

    .feature-service-item {
        gap: 10px;
    }

    .feature-service-item a {
        gap: 10px;
        padding: 10px;
        max-width: 220px;
    }

    .feature-service-item svg {
        width: 20px;
        height: 20px;
    }

    .feature-service-item span {
        color: #fff;
        font-size: 16px;
    }

    .service-singup {
        width: 91%;
        padding: 15px 15px 20px;
    }

    .service-singup h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    /* Product Grid */

    .product-grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        gap: 8px;
    }

    .product-card {
        padding: 10px;
        box-shadow: none;
    }

    .product-title {
        font-size: 16px;
    }

    /* Data Analytic */

    .data-analytics .row {
        justify-content: end;
    }

    /* blog list in footer */

    .blog-title {
        margin-bottom: 0;
    }

    .blog-excerpt {
        line-height: 18px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    /* Global */
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 19px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 17px;
    }

    h6 {
        font-size: 16px;
    }

    .section-title {
        margin-bottom: 25px;
    }

    .col-9 {
        flex: 0 0 auto;
        width: 74%;
    }

    /* Header */

    .header .container {
        padding: 0 10px 15px 10px;
    }

    .header-top-part {
        margin-bottom: 15px;
    }

    .header .logo {
        width: 100%;
        max-width: 160px;
    }

    .header .social-icon {
        display: none;
    }

    .header-btn a svg {
        width: 27px;
        height: 27px;
        stroke-width: 0;
    }

    .header-btn {
        display: flex;
        width: auto;
        height: auto;
    }

    .header .header-btn button {
        display: none;
    }

    .main-menu {
        right: 2%;
        font-size: 14px;
        gap: 10px;
    }

    .menu-list {
        font-size: 16px;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    /* Hero Slider */
    .overlay {
        width: 100%;
        height: 434px;
        position: relative;
        overflow: hidden;
    }

    .category-nav {
        padding: 20px;
        border: 1px solid #ddd;
    }

    /* Product cat carousel */

    .category-card .category-item img {
        width: 80px;
    }

    .category-swiper .swiper-button {
        top: 0px;
    }

    .category-card .category-item {
        gap: 10px;
        padding: 10px;
    }

    .category-card .category-item span::before {
        width: 75px;
        height: 75px;
        top: -90px;
    }

    /* Request Form Q */

    .form-wrapper {
        padding: 15px;
        width: 55% !important;
        align-items: self-start;
    }

    .form-wrapper h2 {
        font-size: 20px;
        text-align: center;
    }

    .form-wrapper p {
        text-align: center;
    }

    .form-wrapper form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .form-wrapper input {
        height: 30px;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    .form-wrapper form button {
        padding: 0px;
        height: 35px;
        margin-top: 0;
    }

    .extra-info {
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .information {
        width: 24%;
    }

    .information img {
        width: 50px;
    }

    /* Ads */

    .ads-banner img {
        max-width: 580px;
    }


    /* Product Grid */

    .product-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    .product-card {
        padding: 10px;
        box-shadow: none;
    }

    .product-title {
        font-size: 16px;
    }

    /* Data Analytic */

    .data-analytics::after {
        width: 325px;
        height: 285px;
    }

    /* footer */

    .blog-image {
        width: 100%;
        height: 100%;
        max-height: 60px;
        border-radius: 0;
    }

    .blog-items .row {
        gap: 10px;
    }

    .blog-title {
        font-size: 14px;
        font-weight: 600;
    }

    .blog-excerpt {
        font-size: 13px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {

    /* Global */

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 21px;
    }

    h5 {
        font-size: 19px;
    }

    h6 {
        font-size: 17px;
    }

    .col-9 {
        flex: 0 0 auto;
        width: 74%;
    }


    /* Header */

    .header .container {
        padding-bottom: 15px;
    }

    .header-top-part {
        margin-bottom: 15px;
    }

    .header .header-btn button {
        display: none;
    }

    .header .logo {
        max-width: 150px;
    }

    .header-btn a svg {
        width: 25px;
        height: 25px;
        stroke-width: 0;
    }


    /* Hero Slider */

    .category-nav {
        padding: 10px;
    }

    .category-list p {
        font-size: 15px;
    }

    .view-all {
        margin-top: 20px;
    }

    .overlay {
        height: 415px;
    }


    /* Category carousel */

    .category-card .category-item img {
        width: 105px;
    }

    .category-card .category-item span::before {
        width: 95px;
        height: 95px;
        top: -115px;
    }

    .category-swiper .swiper-button {
        top: 0;
    }

    /* Request Form Q */

    .form-section {
        min-width: 520px;
    }

    .form-wrapper {
        padding: 15px;
        width: 50% !important;
        align-items: self-start;
    }

    .form-wrapper h2 {
        font-size: 20px;
        text-align: center;
    }

    .form-wrapper form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .form-wrapper input {
        height: 30px;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    .form-wrapper form button {
        padding: 0px;
        height: 35px;
        margin-top: 0;
    }

    .extra-info {
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .information {
        width: 49%;
    }

    .information img {
        width: 50px;
    }

    /* Services */

    .service {
        padding: 0 0 0 120px;
        border: 0;
        border-right: 0;
        height: 100%;
        min-height: auto;
        gap: 50px;
    }

    .services {
        padding: 40px 0;
    }

    .feature-service h3 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .services p {
        font-size: 23px;
    }

    .services::after {
        width: 150px;
        height: 150px;
    }

    .services::before {
        width: 190px;
    }

    /* Ads */

    .ads-banner img {
        max-width: 480px;
    }

    /* Analytics */

    .data-analytics .row {
        justify-content: end;
    }

    .analytic {
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .analytic p {
        font-size: 20px;
        line-height: 20px;
        width: 100%;
    }

    .analytic span {
        font-size: 15px;
    }

    .analytic p:last-child {
        width: 100%;
    }

    .analytic-btn {
        padding: 15px;
        gap: 10px;
        border: 3px outset;
    }

    .analytic-btn p {
        line-height: 20px;
        gap: 10px;
        font-size: 14px;
    }

    .data-analytics::after {
        width: 290px;
        height: 255px;
    }

    /* Product Grid */

    .product-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    .product-card {
        padding: 10px;
        box-shadow: none;
    }

    .product-title {
        font-size: 16px;
    }

    /* Footer */

    .footer-column {
        width: 20%;
    }

    .footer-column:last-child {
        width: 25%;
        margin-top: 0px;
    }

    .blog-items .row {
        gap: 20px;
    }

    .blog-image {
        width: 100%;
        height: 100%;
        max-height: 50px;
    }

    .blog-title {
        font-size: 14px;
        font-weight: 600;
    }

    .blog-excerpt {
        font-size: 13px;
    }

    .blog-excerpt {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Archive */

    .post-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 8px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    /* Global */
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 17px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 15px;
    }

    p {
        line-height: 18px;
    }

    .btn span {
        font-size: 14px;
        font-weight: 500;
    }

    /* Header */

    .header-top-part p {
        color: #fff;
        font-size: 14px;
    }

    .header .logo {
        max-width: 125px;
    }

    .header-btn a svg {
        width: 22px;
        height: 22px;
    }

    .header .header-btn button {
        display: none;
    }

    .search-box {
        height: 30px;
        padding-left: 10px;
    }

    .search-box button {
        font-size: 14px;
        width: 85px;
        height: 30px;
    }

    .search-box input {
        font-size: 14px;
    }

    /* Hero Slider */

    .mega-menu {
        margin-bottom: 20px;
    }

    .category-nav {
        padding: 10px;
    }

    .category-list {
        gap: 10px;
    }

    .category-list li {
        gap: 5px;
    }

    .category-list p {
        font-size: 14px;
    }

    .view-all {
        margin-top: 15px;
        font-size: 14px;
    }

    .view-all a {
        font-size: 14px;
    }

    .overlay {
        height: 365px;
    }

    .main-content h3 {
        font-size: 25px;
        line-height: 30px;
    }

    /* Category carousel */

    .section-title {
        margin-bottom: 20px;
    }

    .category-swiper .swiper-button {
        top: 5px;
    }

    .category-card .category-item {
        gap: 10px;
        padding: 10px;
    }

    .category-card .category-item img {
        width: 80px;
    }


    .category-card .category-item span::before {
        width: 75px;
        height: 75px;
        top: -90px;
    }

    /* Request Form Q */

    .form-wrapper h2 {
        font-size: 20px;
        text-align: center;
    }

    .form-wrapper {
        padding: 15px;
        width: 60% !important;
    }

    .form-wrapper input {
        height: 30px;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    .form-wrapper form button {
        padding: 0px;
        height: 35px;
        margin-top: 0;
    }

    /* Services */

    .service {
        min-height: 250px;
        max-height: 300px;
        gap: 10px;
        padding: 0 0 0 90px;
        border: 0;
    }

    .service-singup {
        padding-left: 50px;
    }

    .service-singup h3 {
        font-size: 20px;
        margin-bottom: 20px;
        width: 85%;
    }

    .services p {
        font-size: 18px;
    }

    .services::before {
        width: 210px;
    }

    .services::after {
        width: 145px;
        height: 145px;
    }

    /* Ads */

    .ads-banner-img {
        flex-direction: column;
    }

    .ads-banner img {

        max-width: unset;
    }

    /* VIP supplier */

    .supplier-service {
        gap: 8px;
        justify-content: flex-start;
    }

    .user-item {
        padding: 5px;
    }

    .user-item img {
        max-width: 50px;
    }

    .user-item h3 {
        font-size: 14px;
    }

    /* Product Grid */

    .product-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .product-card {
        padding: 10px;
        box-shadow: none;
    }

    .product-title {
        font-size: 16px;
    }

    /* Data Analytics */

    .data-analytics::after {
        width: 265px;
        height: 240px;
    }

    /* Footer */

    .footer-column {
        width: 32%;
    }

    .blog-items .blog-card-list:nth-child(3),
    .blog-items .blog-card-list:last-child {
        display: none;
    }

    .blog-items .row {
        gap: 35px;
    }

    .blog-title {
        line-height: 23px;
    }

    /* Blog Archive */

    .blog-content {
        padding: 25px 10px;
        gap: 10px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) and (max-width: 600px) {

    /* Global */

    .container {
        padding: 10px;
    }

    .second-section,
    .form-section,
    .product-carousel-section,
    .product-grid-section,
    .vip-supplier,
    .buyer-carousel,
    .services,
    .data-analytics {
        margin-top: 30px;
    }

    .section-title {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .btn span {
        font-size: 14px;
        font-weight: 500;
    }

    .header .col-6 {
        width: 60%;
    }

    /* Header */

    .header .container {
        padding-bottom: 10px;
    }

    .header .col:last-child {
        display: none;
    }

    .header-top-part {
        display: none;
    }

    .header-top-part p {
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height: 20px;
    }

    .header .header-btn button {
        display: none;
    }

    .header .logo {
        width: 100%;
        max-width: 100px;
    }

    .search-box {
        height: 30px;
        padding-left: 5px;
    }

    .search-box button {
        font-size: 12px;
        width: 75px;
        height: 30px;
    }

    .search-box button svg {
        width: 15px;
        height: 15px;
    }

    .search-box input {
        font-size: 12px;
    }


    /* Hero Slider */

    .main .row {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .main .col-3 {
        display: none;
    }

    .main .col-9 {
        width: 100%;
    }

    .overlay {
        width: 100%;
        height: 180px;
    }

    .overlay .swiper-img {
        height: 100%;
        object-fit: cover;
    }

    .main-content {
        left: 10px;
        max-width: 250px;
        gap: 5px 0;
        top: 45%;
    }

    .main-content h3 {
        font-size: 16px;
        line-height: 18px;
    }

    .main-content p {
        font-size: 12px;
        line-height: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .main-btn {
        padding: 5px 10px;
        margin-top: 5px;
        font-size: 11px;
    }

    /* Product cat carousel */

    .category-swiper .swiper-button {
        top: 5px;
    }

    .category-card .category-item {
        gap: 10px;
        padding: 10px;
    }

    .category-card .category-item img {
        width: 60px;
    }

    .category-card .category-item span::before {
        width: 60px;
        height: 60px;
        top: -70px;
    }

    /* Request Form Q */

    .form-wrapper h2 {
        font-size: 20px;
        text-align: center;
    }

    .form-wrapper {
        padding: 15px;
        width: 100% !important;
    }

    .inner-wrapper {
        padding: 15px;
        height: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .list-product {
        width: 100%;
    }

    .form-wrapper p {
        text-align: center;
    }

    .form-wrapper input {
        height: 30px;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    .form-wrapper form button {
        padding: 0px;
        height: 35px;
        margin-top: 0;
    }

    .extra-info {
        flex-wrap: wrap;
        gap: 10px 0;
    }

    .information {
        width: 49%;
    }

    .information img {
        width: 50px;
    }

    /* Services */

    .services {
        padding: 40px 0;
    }

    .service {
        min-height: 190px;
        max-height: 200px;
        gap: 5px;
        padding: 0;
        border: 0;
        position: relative;
    }

    .feature-service .section-title {
        margin-bottom: 0px;
    }

    .services h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .services p {
        font-size: 14px;
    }

    .feature-service-item {
        gap: 5px;
    }

    .feature-service-item a {
        padding: 5px;
        width: 100%;
        max-width: 147px;
        gap: 5px;
        background-color: #00000085;
    }

    .feature-service-item svg {
        width: 15px;
        height: 15px;
    }

    .feature-service-item span {
        font-size: 12px;
    }

    .service-singup {
        width: 100%;
        padding: 5px 5px 10px;
        background-color: #00000085;
    }

    .service-singup a {
        padding: 5px 15px;
        font-size: 12px;
    }

    .services::after {
        width: 55px;
        height: 55px;
    }

    .services::before {
        width: 135px;
        height: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        left: auto;
    }

    /* VIP supplier */

    .supplier-service {
        gap: 5px 0;
    }

    .user-item {
        padding: 5px;
        width: 100%;
    }

    .user-item img {
        max-width: 45px;
    }

    .user-item h3 {
        font-size: 13px;
    }

    /* Product Grid */

    .product-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .product-card {
        padding: 10px;
    }

    .product-title {
        font-size: 16px;
    }

    /* Data Analytics */

    .data-analytics {
        padding: 40px 0;
    }

    .data-analytics .row {
        flex-direction: column;
    }

    .analytic {
        width: 100%;
        height: auto;
        padding: 5px;
        gap: 5px;
        border: 0;
    }

    .analytic p {
        font-size: 15px;
        line-height: 20px;
        width: 100%;
    }

    .analytic span {
        font-size: 13px;
        font-weight: 400;
        margin-top: 0px;
        line-height: 16px;
    }

    .analytic p:last-child {
        width: 100%;
        margin-top: 0;
    }

    .data-analytics::after {
        display: none;
    }

    .analytic-btn {
        width: 100%;
        padding: 5px;
        gap: 5px;
        border: 2px outset;
    }

    .analytic-btn svg {
        width: 35px;
        height: 35px;
    }

    .analytic-btn p {
        line-height: 18px;
        gap: 5px;
        font-size: 12px;
    }

    .analytic-btn a {
        padding: 5px 15px;
        font-size: 12px;
    }

    /* Events */

    .event-item h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .event-item p {
        font-size: 13px;
    }

    .event-item {
        padding: 5px;
        gap: 10px;
    }

    .event-img img {
        width: 100%;
        height: 100vh;
        max-height: 90px;
        object-fit: cover;
        margin: 0;
    }

    /* Footer */

    .footer-container {
        padding: 10px;
        gap: 20px 0;
        justify-content: center;

    }

    .footer-column {
        width: 47%;
    }

    .footer-column:first-child {
        margin-bottom: 5px;
    }

    .blog-items {
        padding-top: 10px;
    }

    .blog-items .blog-card-list:nth-child(3),
    .blog-items .blog-card-list:last-child {
        display: none;
    }

    .blog-items .row {
        gap: 10px;
    }

    .blog-image {
        max-height: 70px;
    }

    .blog-title {
        font-size: 14px;
        line-height: 18px;
    }

    .blog-card-list img {
        width: 100% !important;
        height: 100% !important;
        max-height: 100px !important;
        object-fit: cover;
    }

    .footer-bottom {
        padding: 10px;
    }

    /* Blog Archive */

    .archive-page .col-9 {
        width: 100%;
    }

    .archive-page .col-3 {
        display: none;
    }

    .sidebar-area {
        position: static !important;
        margin: auto;
    }

    .post-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 8px;
    }

    .blog-card img {
        height: 145px;
        max-height: 200px;
        object-fit: contain;
    }

    .blog-content {
        padding: 15px 5px;
        gap: 10px;
    }

    .blog-content h3 {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .blog-meta {
        gap: 15px;
    }

    .blog-meta span,
    .blog-meta a {
        font-size: 13px;
        gap: 5px;
    }

    .blog-meta svg {
        width: 15px;
        height: 15px;
    }

    .blog-content p {
        font-size: 14px;
        line-height: 18px;
    }

}