.single-posts {
  margin-top: 40px;
}

.single-posts .row {
  gap: 70px;
  align-items: unset;
}

.single-posts .col-9 {
  width: 70%;
}

.single-posts .col-3 {
  width: 30%;
}

.single-posts .entry-title {
  margin: 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 15px;
  width: 100%;
}

.single-posts .entry-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.entry-content hr {
  color: transparent;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ddd;
  margin: 25px 0;
}

.single-posts .entry-content h3 {
  margin-top: 25px;
  color: #639850;
}

.single-posts .entry-content h2 {
  color: #38572d;
}

.single-posts #comments {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ddd;
}

.single-posts .no-comments {
  color: #00a055;
  margin-bottom: 25px;
}

.single-posts .comment-form p:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.single-posts .comment-form p {
  margin-bottom: 10px;
}

.single-posts .comment-form a {
  color: blue;
}

.single-posts #comment {
  border: 1px solid #ddd;
}

.single-posts #submit {
  background-color: #00a055;
  color: #fff;
  border: 0;
  padding: 10px 23px;
}


.post-sidebar {
  position: sticky;
  top: 15px;
}

.single-posts .entry-meta {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.single-posts .entry-meta span {
  padding: 7px 0px;
  background-color: #00a055;
  color: #fff;
  font-size: 15px;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-posts .entry-meta a {
  color: #fff;
}

.single-posts #secondary li {
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.single-posts #secondary li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #00a055;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}

.single-posts #secondary li:hover::before {
  left: -3px;
}

.single-posts #secondary li a {
  transition: all 0.5s ease-in-out;
}

.single-posts #secondary li a:hover {
  margin-left: 20px;
}

.single-posts .post-thumbnail img {
  width: 100%;
}